<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Academy.Listners"/>
<listener class-name="resources.ExtentReporterNG"/>
</listeners>
 <test name="LoginPage">
    <classes>
      <class name="Academy.LoginPageTest"/>
    </classes>
  </test> 
  <test name="Homepage">
    <classes>
      <class name="Academy.HomepageTest"/>
      </classes>
      </test>
</suite> <!-- Suite -->
